@use 'sass:color';

$bar-spacing: $spacing * .3;
$button-radius: $radius;

@mixin panel-button($flat: true, $reactive: true) {
    @include accs-button($flat, $reactive);

    >* {
        border-radius: $button-radius;
        padding: $padding * 0.6 $padding * 0.8;
        margin: $bar-spacing;
    }

    label,
    image {
        font-weight: bold;
    }
}

.bar {
    background-color: $bg;

    .panel-button {
        @include panel-button;

        &:not(.flat) {
            @include accs-button($flat: false);

            &.first>* {
                border-radius: 0px 0px $radius * 2.5 0px;
                padding: $padding * .5 $padding * 2.5;
                margin: 0 $bar-spacing 0 0;
            }

            &.last>* {
                border-radius: 0px 0px 0px $radius * 2.5;
                padding: $padding * .5 $padding * 2.5;
                margin: 0 0 0 $bar-spacing;
            }

            &.end>* {
                border-radius: 0.75 * $radius 2 * $radius 0.75 * $radius 2 * $radius;
                padding: $padding * .5 $padding * 2;
                margin: $bar-spacing;
            }

            &.start>* {
                border-radius: 2 * $radius 0.75 * $radius 2 * $radius 0.75 * $radius;
                padding: $padding * .5 $padding * 2;
                margin: $bar-spacing;
            }

            &.center>* {
                border-radius: $radius;
                padding: $padding * .5 $padding * 2;
                margin: $bar-spacing;
            }
        }
    }

    .launcher {
        .colored {
            color: transparentize($primary-bg, 0.2);
        }

        &:hover .colored {
            color: $primary-bg;
        }

        image {
            font-size: $font-size * 1.5;
        }

        &:active .colored,
        &.active .colored {
            color: $primary-fg;
        }
    }

    .workspaces {
        label {
            min-width: 5pt;
            min-height: 5pt;
            border-radius: $radius*.6;
            box-shadow: inset 0 0 0 $border-width $border-color;
            margin: 0 $padding * .5;
            transition: $transition* .5;
            background-color: transparentize($fg, .8);

            &.occupied {
                font-size: 0;
                // background-color: transparentize($fg, .2);
                background-color: $bg;
                min-width: 18pt;
                min-height: 18pt;
            }

            &.active {
                font-size: $font-size;
                color: $primary-fg;
                // background-color: $primary-bg;
                background-image: $active-gradient;
                min-width: 40pt;
                min-height: 18pt;
            }
        }

        &.active,
        &:active {
            label {
                background-color: transparentize($primary-fg, .3);

                &.occupied {
                    background-color: transparentize($primary-fg, .15);
                }

                &.active {
                    background-color: $primary-fg;
                }
            }
        }
    }

    .media label {
        margin: 0 ($spacing)
    }

    .media-btn {
        background-color: $widget-bg;
        padding: 0;

        label {
            font-size: $font-size * 1.3;
            margin: 0 $spacing * .5;
            color: $secondary-bg;
        }
    }

    .play-pause label {
        color: $primary-bg;
    }

    .taskbar .indicator.active {
        background-color: $primary-bg;
        border-radius: $radius;
        min-height: 4pt;
        min-width: 6pt;
        margin: 2pt;
    }

    .powermenu.colored,
    .recorder {
        image {
            color: transparentize($error-bg, 0.3);
        }

        &:hover image {
            color: transparentize($error-bg, 0.15);
        }

        &:active image {
            color: $primary-fg;
        }
    }

    .quicksettings>box>box {
        @include spacing($spacing: if($bar-spacing==0, $padding / 2, $bar-spacing * 2));
    }

    .quicksettings:not(.active):not(:active) {
        .bluetooth {
            color: $primary-bg;

            label {
                font-size: $font-size * .7;
                color: $fg;
                text-shadow: $text-shadow;
            }
        }
    }

    .battery-bar {
        >* {
            padding: 0;
        }

        &.bar-hidden>box {
            padding: 0 $spacing * .5;

            image {
                margin: 0;
            }
        }

        levelbar * {
            all: unset;
            transition: $transition;
        }

        .whole {
            @if $shadows {
                image {
                    -gtk-icon-shadow: $text-shadow;
                }

                label {
                    text-shadow: $text-shadow;
                }
            }
        }

        .regular image {
            margin-left: $spacing * .5;
        }

        trough {
            @include widget;
            min-height: 12pt;
            min-width: 12pt;
        }

        .regular trough {
            margin-right: $spacing * .5;
        }

        block {
            margin: 0;

            &:last-child {
                border-radius: 0 $button-radius $button-radius 0;
            }

            &:first-child {
                border-radius: $button-radius 0 0 $button-radius;
            }
        }

        .vertical {
            block {
                &:last-child {
                    border-radius: 0 0 $button-radius $button-radius;
                }

                &:first-child {
                    border-radius: $button-radius $button-radius 0 0;
                }
            }

        }

        @for $i from 1 through $bar-battery-blocks {
            block:nth-child(#{$i}).filled {
                background-color: color.mix($bg, $primary-bg, $i*3)
            }

            &.low block:nth-child(#{$i}).filled {
                background-color: color.mix($bg, $error-bg, $i*3)
            }

            &.charging block:nth-child(#{$i}).filled {
                background-color: color.mix($bg, $charging-bg, $i*3)
            }

            &:active .regular block:nth-child(#{$i}).filled {
                background-color: color.mix($bg, $primary-fg, $i*3)
            }
        }

        &.low image {
            color: $error-bg
        }

        &.charging image {
            color: $charging-bg
        }

        &:active image {
            color: $primary-fg
        }
    }
}
