$bg-color: rgba(17, 17, 27, 0.8);
$fg-color: rgb(205, 214, 244);
$bg-color-secondary: rgb(37,37,58);

$hover: rgb(49, 50, 68);
$hover-fg: rgb(205, 214, 244);

$border-radius: 25px;
$border-width: 0px;
$border-color: rgb(69, 71, 90);
$spacing: 5px;

// Popup menu.
$popover-radius: 5px;
$popover-padding: 5px;
